<footer>
    <div class="container">
        <div class="row py-4">
            <div class="col-md-6">
                <p class="text-muted">&copy; 2024 Research Paper Discovery Platform. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline mb-0 text-end">
                    <li class="list-inline-item me-3"><a href="#" class="text-muted"><i class="bi bi-facebook bi-xxl"></i></a></li>
                    <li class="list-inline-item me-3"><a href="#" class="text-muted"><i class="bi bi-twitter bi-xxl"></i></a></li>
                    <li class="list-inline-item me-3"><a href="https://www.linkedin.com/in/vikas-bk-1a676b280/" class="text-muted"><i class="bi bi-linkedin bi-xxl"></i></a></li>                    
                    <li class="list-inline-item me-3"><a href="https://www.instagram.com/vikas_bk07/" class="text-muted"><i class="bi bi-instagram bi-xxl"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-uppercase mb-3">Contact</h5>
                <ul class="list-unstyled mb-0">
                    <li><strong>Vikas B K</strong> - 7019194721</li>
                </ul>
            </div>
        </div>
    </div>
</footer>